@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
p {
  font-weight: 300;
  color: #111;
}
body{
  min-height: 1000px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/hero.jpg");
   }
.banner .content{
  max-width: 900px;
  text-align: center;

}
.banner .content h2{
  font-size: 5em;
  color: #fff;
}
.banner .content p{
  font-size: 1em;
  color: #fff;
}
.btn{
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn :hover{
  letter-spacing: 6px;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky{
  background: #fff;
  padding: 5px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header.sticky .logo,
header.sticky ul li a{
  color: #000;

}
header .logo{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header .nav{
  position: relative;
  display: flex;
}
header .nav li{
  list-style: none;
  margin-left: 30px;
   
}
header .nav li a {
  text-decoration: none;
  color:#fff;
  font-weight: 500;
}
header .nav li a:hover{
  color: #ff0157;
}
section{
  padding: 100px;
}
.row{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50{
  position: relative;
  width: 48%;
}
.Ttext{
  color:#111;
  font-size: 2em;
  font-weight: 300;

}
.Ttext span{
  color: #ff0157;
  font-size: 1.5em;
  font-weight: 600;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.menu .content{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;

}
.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgbx{
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .imgbx img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-box{
  width: 90%;
  height: 90vh;
  margin: 30px auto;
  position: relative;

}
#slider{
  width: 100%;
  display: inline-flex;
  
}
#slider img{
  width: 100%;
  height: 100vh;
}
.indicators{
   position: absolute;
   left: 50%;
   bottom: 20px;
   transform: translateX(-50%);
}
.indicators span{
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
background: rgba(255,255,255,0.5);
cursor: pointer;
}


.cform{
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0,0,0,0.1);
  max-width: 500px;
  margin-top: 50px;

}
.cformimg{
    float: right;
    margin-top: 70px;

}
.cform h3{
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500px;
}
.cform .inputbox{
  position: relative;
  width: 100%;
  margin-bottom: 20px;

}
.cform .inputbox input,
.cform .inputbox textarea {
width: 100%;
border: 1px solid #555;
padding: 10px;
color: #111;
outline: none;
font-size: 16px;
font-weight: 300;
resize: none;
}

.cform .inputbox input[type="submit"]{
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
footer{
  
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: #ff0157;
}
.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #fff;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.center{
  margin-top: -10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}